.navbar-brand {
  background: url("../images/logo-jp-40.png") no-repeat left center;
  background-size: contain;
  height: 40px;
  width: 160px;
}

/*
h1{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

h1:before, h1:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}

h1:before {left: 7px;}
h1:after {right: 7px;}
*/

  h1{
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 1px #96c2fe;
    padding: 0.2em 0.5em;
    color: #454545;
  }
